<%- include("partials/header"); -%>

    <h1>Contact</h1>
    <p> <%= ContactContent %> </p>
   <a href="https://twitter.com/Stack_Abhi">Follow us on Twitter</a>



<%- include("partials/footer"); -%>